/* Core styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease-in-out;
}

.container {
    width:1140px;
    margin: 0 auto;
}
.section-subtitle {
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    color:#797979;
    text-transform: uppercase;
}
.section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color:#05364D
}
.button {
    border:none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    color:white;
    font-weight: 500;
    font-size: 14px;
    padding:20px 40px;
    cursor:pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-position: right center;
}
.blur-line {
    margin-bottom: 3px;
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}

.myImg{
    border-radius: 14px;
}

/* Main header styles */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    opacity: 0.97;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
}
.main_navigation {
    display: inline-block;
    vertical-align: middle;
}
.main_navigation__item {
    display: inline-block;
    padding:10px;
}
.main_navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.main_navigation__item a:hover {
    color: #efb6df;
}
.main_navigation__item.active a {
    color: #efb6df;
}
.main-section {
    padding: 100px 30px;
}
.to-uppercase {
    text-transform: uppercase;
}
.clearfix {
    clear:both;
}

/* Footer sections */

.footer {
    padding:50px 0;
    background-color: #021017;
    margin-top: 20px;
    text-align: center;
}

.footer__brand img {
    margin-top: 40px;
    width: 128px;
}
.footer__navigation {
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
}
.footer__social {
    display: inline-block;
    font-size: 16px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 38px;
    margin-right: 20px;
    color: #05364d;
}

.footer__social a {
    color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social:hover i {
    color: white;
}

.footer__text {
    color: #797979;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .main_navigation {
        display: none;
    }
}